.Form-add{
    font-weight: bold;
    margin-left:37%;
    width: 60.5%;
}

.heading{
    font-weight: 1000;
    margin-left: 42%;
    margin-bottom:40px;
}


.btn1{
      margin-left: 18%;
      margin-top: 4%;
}

.Divv{
    padding-top: 200px;
    background-color: #d1d1d1;
    height: 750px;
}

.message{
    text-align: center;
}