.Form-add{
    font-weight: bold;
    padding-left:37%;
    width: 90%;
}

.heading{
    font-weight: 1000;
    margin-left: 40%;
    margin-bottom:40px;
}


.btn1{
margin-left: 16%;
margin-top: 4%;
}

.Divv{
    padding-top: 200px;
    background-color: #d1d1d1;
    height: 750px;
}